.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh; /* Full screen height */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("/Hero.png");
}

.contentL {
  flex: 1;
}
.contentR {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 12px;
}
.itemContent {
  background-color: var(--bgSoft);
  padding: 50px;
  border-radius: 15px;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.boxBtnRole {
  display: flex;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
}
.btnRole {
  background-color: transparent;
  padding: 8px 0px;
  width: 46%;
  font-size: var(--fontS2);
  font-weight: bold;
  color: var(--sekunder);
  border: none;
  border-radius: 50px;
}
.roleActive {
  background-color: var(--sekunder);
  color: var(--white);
}

.registerLink {
  text-align: center;
  color: var(--sekunder);
}
.registerLink p {
  color: white; /* Adjust link color */
  text-decoration: none;
}
.registerLink button {
  background-color: transparent;
  font-size: var(--fontS2);
  border: none;
  color: var(--white);
  text-decoration: none; /* remove underline on hover */
}
.registerLink button:hover {
  text-decoration: underline; /* underline specific span on hover */
  font-weight: bold; /* make specific span bold on hover */
  color: var(--sekunder);
}

.content h2 {
  font-size: 3rem; /* text-5xl dalam Tailwind */
  font-weight: bold; /* font-bold dalam Tailwind */
  align-items: center;
  justify-content: center;
}
.content p {
  font-size: 2rem; /* text-5xl dalam Tailwind */
  font-weight: light; /* font-bold dalam Tailwind */
  align-items: center;
  justify-content: center;
}

.button {
  padding: 0.5rem 2rem; /* px-8 dan py-2 dalam Tailwind */
  border: 1px solid;
  border-color: white;
  border-radius: 25px;
  color: azure;
  gap: 50px;
  margin: 20px 20px 0px 0px;
  background-color: transparent;
}
.content button:hover {
  background-color: gray;
}

@media (max-width: 900px) {
  .container {
    background-image: url("/Hero2.jpg");
  }

  .contentL {
    display: none;
  }
}
