.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}
.form input {
  padding: 16px;
  border: solid;
  border-color: white;
  border-radius: 10px;
  background-color: white;
}
.form button {
  padding: 14px;
  background-color: rgba(12, 75, 135, 1);
  border: none;
  color: var(--white);
  cursor: pointer;
  border-radius: 50px;
  font-size: var(--fontS2);
  margin-top: 32px;
}
